<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:mo="https://gitee.com/aun/Timo"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
>
<head th:replace="~{/common/template :: header(~{::title},~{::link},~{::style})}">
   <!-- <link rel="stylesheet" th:href="@{/lib/zTree_v3/css/zTreeStyle/zTreeStyle.css}" type="text/css">-->
    <link rel="stylesheet" th:href="@{https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.41/css/zTreeStyle/zTreeStyle.css}" type="text/css">

</head>
<body class="timo-layout-page">
<div class="layui-card">

    <div class="layui-card-body">
        <div class="layui-row timo-card-screen put-row">
            <div class="pull-left layui-form-pane timo-search-box">


                <div class="layui-inline">
                    <label class="layui-form-label">空间名</label>
                    <div class="layui-input-block">
                        <input type="text" name="username" th:value="${param.username}" placeholder="请输入名字"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <button class="layui-btn timo-search-btn">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

        </div>

            <div class="layui-row timo-card-screen">
                <div class="pull-left layui-form-pane timo-search-box">
                </div>
                <div class="pull-right screen-btn-group">
                    <button class="layui-btn open-popup popup-add" data-title="添加菜单"
                            th:attr="data-url=@{/namespace/add}" >
                        <i class="fa fa-plus"></i>
                        添加
                    </button>
                </div>
            </div>
        <div class="timo-table-wrap">
            <table class="layui-table timo-table">
                <thead>
                <tr>
                    <th class="timo-table-checkbox">
                        <label class="timo-checkbox"><input type="checkbox">
                            <i class="layui-icon layui-icon-ok"></i></label>
                    </th>
                    <th class="sortable" data-field="username">空间名</th>
                    <th class="sortable" data-field="nickname">namespace</th>
                    <th class="sortable" data-field="dept">秘钥</th>
                    <th class="sortable" data-field="sex">状态</th>
                    <th class="sortable" data-field="phone">appID</th>

                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item:${list}">
                    <td><label class="timo-checkbox"><input type="checkbox" th:value="${item.id}">
                        <i class="layui-icon layui-icon-ok"></i></label></td>
                    <td th:text="${item.name}">用户名</td>
                    <td th:text="${item.nameSpace}"></td>
                    <td th:text="${item.appSecret}"></td>
                    <td th:text="${item.mainStatus}"></td>
                    <td th:text="${item.appId}"></td>
                  <!--  <td th:text="${#dates.format(item.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>-->

                    <td>

                        <a class="open-popup" data-title="编辑"   th:attr="data-url=@{'/namespace/edit?id='+${item.id}}"
                           data-size="600,570" href="#">编辑</a>


                        <a class="ajax-get" th:attr="data-msg='您是否删除'+${item.name}"
                           th:href="@{/namespace/status/delete(ids=${item.id})}"
                           >删除</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

 <div th:replace="~{/common/fragment :: page}"></div>
    </div>
</div>
<script th:replace="~{/common/template :: script}"></script>
<script type="text/javascript" th:src="@{https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{https://cdn.bootcdn.net/ajax/libs/zTree.v3/3.5.41/js/jquery.ztree.core.min.js}"></script>
<script type="text/javascript" th:src="@{/js/timoTree.js}"></script>
<script type="text/javascript">
    var local = window.localStorage;
    // 树形菜单
    $.fn.selectTree({
        rootTree: '全部',
        onSelected: function (treeNode) {
            local.setItem('deptTitle', treeNode.name);
        }
    });
</script>
</body>
</html>